{% extends 'exampleChan/_base.html' %}

{% block content %}
  <a href="{% url 'exampleChan:log_out' %}">Log out</a>
  <br>
  <br>
  <input type="text" id='sender' size='60'>
  <button id="submit">Submit</button>
  <br><br>
  <p id='messages'></p>
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('wss://' + window.location.host + '/users/');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function message(event) {
      var data = JSON.parse(event.data);
      // NOTE: We escape JavaScript to prevent XSS attacks.
      console.log(data);
      var msg = data['msg'];
      if (msg.length>0){
        var p = document.getElementById('messages');
        p.innerHTML += '<p>' + msg + '</p>';
        }
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

    document.getElementById('submit').onclick = function() {
      if ($('#sender').val() != ""){
        socket.send($('#sender').val());
        document.getElementById('sender').value = ""
      }
    }
  </script>
{% endblock script %}